<div class="faq_area section_padding_130" id="faq">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-6">
                <!-- Section Heading-->
                <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s"
                    style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <h2>คำถามที่พบบ่อย </h2>
                    <p>คำถามที่พบบ่อยที่รวบรวมมากจากผู้ใช้ของทาง มหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตศรี่ราชา</p>
                    <div class="line"></div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-header h4">
                        คำถามที่พบบ่อย
                    </div>
                    <div class="row justify-content-center">
                        <!-- FAQ Area-->
                        <html>

                        <body>

                            <div class="row justify-content-center">
                                <div class="col-6">


                                    <div class="h-100 p-5 bg-light border rounded-3 ">
                                        <h2>การลงทะเบียนเรียนในกรณีปกติ</h2>
                                        <p>
                                            1.การลงทะเบียนเรียนจะต้องลงทะเบียนตามกำหนดของทางมหาวิทยาลัย
                                            โดยดูได้จากปฏิทินการศึกษา (ดูปฏิทินการศึกษา)
                                            ของนิสิตจะต้องได้รับความเห็นชอบจากอาจารย์ที่ปรึกษา
                                            รายละเอียดการลงทะเบียนดูได้จากหัวข้อ "ลงทะเบียน/ชำระค่าธรรมเนียม"
                                            (ดูรายละเอียด)
                                        </p>
                                        <br>
                                        <p>
                                            2.ในกรณีที่นิสิตได้ลงทะเบียนเรียน (ทางอินเตอร์เน็ต) เรียบร้อยแล้ว
                                            แต่ไม่ได้ชำระค่าธรรมเนียมการศึกษาตามกำหนด (ดูปฏิทินการศึกษา)
                                            จะถือว่าการลงทะเบียนของนิสิตเป็นโมฆะทันทีในวันสุดท้ายของการชำระค่าธรรมเนียม
                                        </p>
                                        <br>

                                        <h2>ระเบียบการลาป่วยและลากิจ</h2>
                                        <p>1.การลาป่วย ลากิจ ที่ไม่เกิน 15 วัน ให้อยู่ในดุลพินิจของอาจารย์ที่
                                            ปรึกษาในการอนุมัติ หากเกินจากนี้ต้องได้รับความเห็นชอบจากหัวหน้า
                                            ภาควิชาและอนุมัติจากคณบดีเจ้าสังกัด
                                        </p>
                                        <br>
                                        <p>
                                            2.นิสิตที่ได้รับอนุมัติให้ลาแล้ว มีสิทธิได้รับผ่อนผันด้านการสอบ การนับ
                                            เวลาเรียน และสิทธิอื่น ๆ ที่เกี่ยวข้องกับการเรียน การสอบ
                                        </p>
                                        <br>

        





                                    </div>
                                </div>
                            </div>

                        </body>

                        </html>
                    </div>
                </div>
            </div>