<div class="faq_area section_padding_130" id="faq">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-6">
                <!-- Section Heading-->
                <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s"
                    style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <h2>คำถามที่พบบ่อย </h2>
                    <p>คำถามที่พบบ่อยที่รวบรวมมากจากผู้ใช้ของทาง มหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตศรี่ราชา</p>
                    <div class="line"></div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-header h4">
                        ติดต่อเรา
                    </div>
        <div class="row justify-content-center">
            <!-- FAQ Area-->
            <html>

            <body>

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <table style="width:100%">
                                        <div class="w3-container w3-center">
                                            <h2>หากจำรหัสผ่านไม่ได้</h2>
                                            </div>
                                        <tr>
                                            <td>ติดต่อด้วยตนเองที่ อาคาร 1 บริการวิทยาการ ชั้น 3 งานเทคโนโลยีสารสนเทศ
                                                กองบริการกลาง สำนักงานวิทยาเขต ในวันจันทร์ - ศุกร์ เวลา 8.30 - 17.30 น.
                                            </td>
                                        </tr>
                                    </table>
                                        <td >สามารถติดต่อได้ที่ <a href="http://localhost:4200/contactus">
                                            ติดต่อเรา</a></td>
                                        <tr>
                                            <td>หากเร่งด่วนสามารถโทร 065-7162627 (666536) ในวันจันทร์ - ศุกร์ เวลา 8.30 - 17.30 น.</td>
                                        </tr>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </body>

            </html>
        </div>
    </div>
</div>